div, body {
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: 'Share Tech Mono';
  font-size: 14px;
}

body {
  background-color: #000000;
  color: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tim {
  width: 100%;
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
}

label {
  font-size: 16px;
}


input[type=number] {
  width: 60px;
  display: inline-block;
  text-align: left;
  margin: 0px 0px;
  color: yellow;
  background-color: #000;
  border: none;
  border-bottom: 2px solid yellow;
  outline: none;
  font-weight: bold;
  font-size: 18px;
}

#control-top {
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  text-align: center;
  color: #fafafa;
}

#control {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  height: 70px;
  text-align: center;
  color: #fafafa;
}

#snd_popup {
  position: absolute;
  overflow: hidden;
  width: 100px;
  z-index: 110;
  bottom: 47px;
  right: 0px;
  background-color: #EFF1F3;
  color: black;
  padding: 10px 10px;
  border-style: solid;
  border-radius: 11px;
  border-color: #bbd8b3;
}

button {
  position: relative;
  font-size: 16px;
  padding: 2px 10px;
  min-width: 28px;
  margin: 10px;
  background-color: gray;
  font-family: monospace;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #040404;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
}

button:hover {
  background-color: #070707;
  color: #fefefe;
}

#but_sound {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

button:active {
  outline: none;
  border: none;
}

#close, #closeinfo {
  position: absolute;
  left: 100%;
  top: -20px;
  margin-left: -10px;
  background-color: #EFF1F3;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 50px;
  border-style: solid;
  border-color: #bbd8b3;
  font-weight: bold;
  color: #bbd8b3;
  text-decoration: none;
  font-family: arial;
}

@media only screen and (max-width: 800px) {
  #tim {
    margin-top:50px;
  }
}




@keyframes minuetBlink {
  0% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: red;
  }
}

.minuetBlink {
  animation: minuetBlink;
  animation-duration: 1.0s;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

.blink {
  color: white;
  background-color: red;
  animation-name: blinker;
  animation-duration: 0.8s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
}

@keyframes body_blinker {
  from {
    background-color: red;
  }
  to {
    background-color: black;
  }
}
/*  */